/* Fonts */

/* Roboto | Regular Medium Bold */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Fedroka One | Regular */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* End of Fonts */


/* Global */

:root {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    --pink-primary: #df4986;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1C1C1B;
}

body::-webkit-scrollbar {
    width: 0.4rem;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background: var(--pink-primary);
    border-radius: 2rem;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pink {
    color: var(--pink-primary);
    font-weight: 800;
}

.pinkh1 {
    color: var(--pink-primary);
}

main {
    margin-left: 5rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    font-family: 'Fredoka One', cursive;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: 4rem;
}

p {
    color: white;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.02rem;
    text-align: center;
}

.icon {
    width: 50px;
    height: auto;
}

/* End of Global */


/* Navbar Section */

#navbar .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    letter-spacing: 0.1ch;
    width: 100%;
}

#navbar .logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

#navbar .navbar:hover .logo svg {
    transform: rotate(-180deg);
}

#navbar .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: hidden;
    z-index: 3;
}

#navbar .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#navbar .nav-item {
    width: 100%;
}

#navbar .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

#navbar .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

#navbar .link-text {
    display: none;
    margin-left: 1rem;
    white-space: nowrap;
}


#navbar .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}


#navbar .fa-primary {
    color: #ff7eee;
}

#navbar .fa-secondary {
    color: var(--pink-primary);
}

#navbar .fa-primary,
#navbar .fa-secondary {
    transition: var(--transition-speed);
}

/* End of Navbar Section */

/* Hero Section */


#hero .hero { 
    background: url(/Images/Boston.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    height: 100vh;
    align-items: center;
    justify-content: left;
    padding-left: 13rem;
}

#hero .hero::before {
    content: '';
    position: absolute;
    background: linear-gradient(transparent 80%, #1C1C1B 100%);
    opacity: 1;
    z-index: 1;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#hero .hero::after {
    content: '';
    position: absolute;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#hero .hero .Hello,
#hero .hero .Im, 
#hero .hero .titleName {
    font-family: 'Roboto', sans-serif;
    font-size: 6rem;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 2px white; 
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative;
}

#hero .hero .titleName {
    -webkit-text-stroke: 2px var(--pink-primary);
}

#hero .hero .Hello::before,
#hero .hero .Im::before,
#hero .hero .titleName::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    -webkit-text-stroke: 0 white;
    border-right: 2px solid white;
    overflow: hidden;
    animation: animate 1.2s linear forwards;
}

#hero .hero .Im::before {
    animation: animate2 2s linear forwards;
}

#hero .hero .titleName::before {
    color: var(--pink-primary);
    animation: animate3 3s linear forwards;
}

#hero .hero .button {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

#hero .hero .button .cta {
    font-family: 'Fredoka One', cursive;
    color: #270c17;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 15px 35px;
    border-radius: 10rem;
    position: relative;
    overflow: hidden;
    transition: all .3s;
    z-index: 1;
}

#hero .hero .button .cta:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    overflow: hidden;
    background-color: var(--pink-primary);
    z-index: -2;
}

#hero .hero .button .cta:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: white;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}

#hero .hero .button .cta:hover:before {
    color: #270c17;
    width: 100%;
    overflow: hidden;
}

/* End of Hero Section */


/* Start of Services Section */

#services .services {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#services .services-header .section-title {
    font-size: 3.5rem;
    letter-spacing: .1rem;
    justify-content: center;
    align-items: center;
}

#services .service-item-header {
    text-align: center;
}

#services .service-item-header h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: .15rem;
    text-transform: uppercase;
    color: white;
    margin: 2rem auto;
}

#services .service-item-header p {
    font-size: 1rem;
    line-height: 1.3rem;
    max-width: 400px;
    text-align: center;
    position: static;
}

#services .service-item-bg {
    background-color: #0E0E0E;
    height: 45vh;
    width: 22rem;
    margin: 1rem auto;
    border-radius: 25px;
    border: 5px solid var(--pink-primary);
}

#services .service-item-bg .service-item-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#services .service-item {
    margin: 0 auto;
    padding: .3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#services .service-item .program-name {
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 2.2rem;
    align-items: center;
    text-align: center;
}

#services #digitalArt {
    margin: 2rem auto auto auto;
}

#services #illustration {
    margin: auto auto 2rem auto;

}

/* End of Services Section */


/* Projects Section */

#projects .projects {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#projects .projects .section-title {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#projects .projects .project-item-header {
    font-family: 'Fredoka One', cursive;
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: .15rem;
    text-transform: uppercase;
    color: white;
    margin: 2rem auto;
    padding-top: 2rem;
}

#projects .projects .project-item-container {
    min-height: 25rem;
    width: 85vw;
    height: 22rem;
    max-width: 22rem;
    margin: 1rem auto;
    border-radius: 25px;
    border: 5px solid var(--pink-primary);
    position: relative;
    overflow: hidden;
}

#projects .projects #banking {
    background: url(/Images/EasyBank.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#projects .projects #restaraunts {
    background: url(/Images/PepesPizza.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#projects .projects #eCommerce {
    background: url(/Images/jewelry.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#projects .projects #gaming {
    background: url(/Images/gaming.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* End of Projects Section */


/* About Me Section */

#about .about {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#about .about .section-title {
    padding: 0 0 4rem 0;
}

#about .about .col-left p {
    font-size: 1rem;
    max-width: 30rem;
    line-height: 1.5rem;
    margin-bottom: 4rem;
}

#about .about .col-right .about-img {
    width: 300px;
    margin-bottom: 5.5rem;
    position: relative;
}

#about .about .col-right .about-img::after {
    content: '';
    position: absolute;
    background: var(--pink-primary);
    right: -11px;
    top: -10px;
    height: 20%;
    width: 30%;
    z-index: -1;
}

#about .about .col-right .about-img::before {
    content: '';
    position: absolute;
    background: var(--pink-primary);
    left: -10px;
    bottom: -7px;
    height: 20%;
    width: 30%;
    z-index: -1;
}

/* End of About Me Section */


/* Contact Section */

#contact .contact {
    flex-direction: column;
}

/* End of Contact Section */


/* Media Query */

    /* Very Small Screens */

@media only screen and (max-width: 390px) {

    /* Global */

    main {
        margin: 0;
    }

    /* End of Global */

    /* Navbar */

    #navbar .nav-link svg {
        margin: 0;
    }

    /* End of Navbar */

    /* Hero */

    #hero .hero .Hello,
    #hero .hero .Im, 
    #hero .hero .titleName {
        font-size: 3rem;
        -webkit-text-stroke: 1px white;
    }

    #hero .hero .titleName {
        -webkit-text-stroke: 1px #df49a6;
    }

    #hero .hero .button .cta {
        font-size: 1rem;
        padding: 1rem 1.5rem;
    }

    /* End of Hero */

}
    /* End of Very Small Screens */


    /* Small Screens */

@media only screen and (max-width: 660px) {

    /* Global */

    main {
        margin: 0;
    }

    /* End of Global */

    /* Navbar */

    #navbar .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        border-top: 3px solid var(--bg-secondary);
    }

    #navbar .logo {
        display: none;
    }

    #navbar .navbar-nav {
        flex-direction: row;
    }

    #navbar .nav-link {
        justify-content: center;
    }

    /* End of Navbar */

    /* Hero */

    #hero .hero {
        justify-content: center;
        padding: 0;
    }

    #hero .hero h1 {
        font-size: 5rem;
    }

    /* End of Hero */

}


    /* Large Screens */

@media only screen and (min-width: 661px) {

    /* Navbar */

    #navbar .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
        border-right: 3px solid var(--bg-secondary);
    }

    #navbar .navbar:hover {
        width: 16rem;
        z-index: 3;
    }

    #navbar .navbar:hover .link-text {
        display: inline-block;
    }

    #navbar .nav-item:last-child {
        margin-top: auto;
        padding-bottom: 25px;
    }

    /* End of Navbar */


}

/* End of Media Query */

/* Keyframes */

@keyframes animate {
    0% {
        width: 0;
    }
    50% {
        width: 0;
    }
    99% {
        border-right: 2px solid white;
    }
    100% {
        width: 68%;
        border-right: transparent;
    }
}

@keyframes animate2 {
    0% {
        width: 0;
        border-right: transparent;
    }
    50% {
        width: 0;
        border-right: transparent;
    }
    74% {
        border-right: transparent;
    }
    75% {
        width: 0;
        border-right: 2px solid white;
    }
    99% {
        border-right: 2px solid white;
    }
    100% {
        width: 35%;
        border-right: transparent;
    }
}

@keyframes animate3 {
    0% {
        width: 0;
        border-right: transparent;
    }
    50% {
        width: 0;
        border-right: transparent;
    }
    74% {
        border-right: transparent;
    }
    75% {
        width: 0;
        border-right: 5px solid #df49a6;
    }
    99% {
        border-right: 5px solid #df49a6;
    }
    100% {
        width: 105%;
        border-right: transparent;
    }
}

/* End of Keyframes */