/* Box Model Hack */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Crimson Text", serif;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

a:hover {
    cursor: pointer;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Header */

header {
    height: 75px;
    width: 100%;
    background: white;
    position: fixed;
    top: 0;
    z-index: 2;
}

nav {
    height: 100%;
    width: 100%;
}

nav * {
    float: left;
}

.AyeshaLogo,
.bookOnline {
    width: 20%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AyeshaLogo h1 {
    font-family: "Kaushan Script", cursive;
}

.bookOnline a {
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bolder;
}

nav ul {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100%;
    text-align: center;
}

nav ul li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 12.5%;
    height: 100%;
    list-style: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
}

.searchIcon,
.shoppingIcon {
    width: 5%;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchIcon > img,
.shoppingIcon > img {
    width: 25px;
}

/* Hero Section */

.hero {
    background: linear-gradient(to right, rgb(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
        url("../images/salon-splash.jpg") 0 60% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    padding-left: 10%;
    margin-top: 75px;
    padding-top: 200px;
    border-bottom: 3px solid saddlebrown;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.hero > section > h1,
.hero > section > h4 {
    color: white;
}

.hero > section > h1 {
    font-size: 8rem;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    filter: drop-shadow(2px 2px 2px black);
}

.hero > section > h4 {
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    margin-bottom: 80px;
    filter: drop-shadow(1px 1px 1px black);
}

.hero > section > div {
    width: 200px;
    height: 100px;
}

.hero > section > a {
    float: left;
    color: white;
    background: black;
    text-decoration: none;
    padding: 20px;
    font-weight: bolder;
    border-radius: 5px;
}

.hero .black-box {
    margin-top: 200px;
    background: black;
    width: 24rem;
    max-width: 600px;
    color: white;
    clear: left;
    padding: 30px;
    border-radius: 8px;
    height: 400px;
}

.black-box > h2,
.black-box > h3 {
    margin: 20px auto;
}

.hero > section > section > h3 {
    font-size: 1.5rem;
    padding: 10px;
    font-weight: bolder;
}

.hero > section > section > h2 {
    padding: 0.5rem;
    font-weight: bolder;
    line-height: 3.5rem;
    margin-bottom: 3rem;
}

.hero > section > section > h2 > span {
    font-size: 4rem;
}

.hero > section > section > a {
    color: black;
    text-decoration: none;
    background: white;
    padding: 20px;
    font-weight: bolder;
    border-radius: 5px;
}

/* Services Section */

.service {
    float: left;
    width: 33.3333%;
    margin-top: 200px;
    padding: 40px;
    text-align: center;
}

.service img {
    padding-bottom: 20px;
}

.service h4 {
    font-size: 1.7rem;
}

.service p {
    text-align: center;
    line-height: 1.5rem;
    max-width: 250px;
    margin: 0 auto;
}

/* Momentum Section */

.momentum {
    float: left;
    background: rgb(243, 244, 246);
    padding-top: 75px;
    width: 100%;
}

.momentum-left,
.momentum-right {
    float: left;
    width: 50%;
    height: 450px;
    padding: 40px 5% 0 20%;
}

.momentum-right {
    padding: 50px 15% 0 5%;
}

.momentum-right video {
    margin: 0;
    padding: 0;
}

.momentum-left h4 {
    font-size: 38px;
}

.momentum-left p {
    margin-top: 5%;
    margin-bottom: 5%;
    line-height: 1.6rem;
}

.momentum-left a {
    float: left;
    color: white;
    background: black;
    text-decoration: none;
    padding: 20px;
    font-weight: bolder;
    border-radius: 5px;
}

/* Stylist Section */

.stylists-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0 0;
    font-size: 38px;
    flex-direction: column;
}

.stylists-header span {
    font-size: 72px;
    margin-top: -50px;
}

.stylists {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.stylist {
    margin: 75px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stylist img {
    width: 300px;
    height: auto;
}

.stylist > section {
    background: black;
    color: white;
    width: 250px;
    padding: 20px;
    text-align: center;
    margin-top: -30px;
}

.stylist > section > h5 {
    font-size: 20px;
    margin-bottom: 5px;
}

.stylist > section > span {
    font-size: 14px;
}

/* Coupon Section */

.coupon {
    float: left;
    background: url("../images/coupon-img.jpg") 0 -10% no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    line-height: 4rem;
}

.coupon h4 {
    font-size: 32px;
    margin-bottom: 20px;
}
.coupon h2 {
    font-size: 44px;
    margin-bottom: 20px;
}

.coupon span {
    font-size: 100px;
    font-weight: bolder;
}

.coupon a {
    text-decoration: none;
    font-size: 24px;
    color: white;
    background: black;
    padding: 15px 50px;
    width: 350px;
    border-radius: 5px;
}

/* Lookbook Section */

.lookbook {
    width: 100%;
    overflow: hidden;
}

.look-header {
    width: 100%;
    text-align: center;
}

.lookbook h2,
.lookbook span {
    margin: 0;
    width: 100%;
    font-size: 72px;
    line-height: 2rem;
    padding: 100px 0 0 10px;
}

.look-container {
    float: left;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.look-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 33.3333%;
}

.look-col img {
    height: 90vh;
    width: auto;
    object-fit: cover;
    padding: 20px;
}

/* Footer Section */

footer {
    width: 100%;
    height: 75px;
    background: black;
    color: white;
}

footer > .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.footer > ul {
    list-style: none;
    text-align: center;
}

.footer > ul > li {
    font-family: "Crimson Text", serif;
    font-size: 1.2rem;
}

.footer > ul > li > a {
    text-decoration: none;
    color: white;
    font-style: oblique;
}

/* Media Queries */

/* Phones */

@media screen and (max-width: 767px) {
    header {
        height: 10vh;
    }

    header ul {
        display: none;
    }

    header .bookOnline {
        display: none;
    }

    header .AyeshaLogo {
        width: 100%;
        text-align: center;
    }

    .hero {
        margin: 0;
        padding: 10px;
        margin-top: 10vh;
        background-position: 54%;
        background-size: cover;
        padding-top: 40px;
    }

    .hero > section {
        text-align: start;
    }

    .hero > section > h1 {
        font-size: 4rem;
    }

    .hero > section > .black-box > h2 {
        font-size: 1rem;
    }

    .hero > section > .black-box > h2 > span {
        font-size: 2rem;
    }

    .hero .black-box {
        width: 60%;
        padding: 15px;
        height: 350px;
    }

    .services {
        margin-top: 5%;
    }

    .service {
        width: 100%;
        margin: 20px 5px;
        padding: 0;
    }

    .momentum-left,
    .momentum-right {
        width: 100%;
        padding: 10px;
        margin: 0;
        text-align: center;
    }

    .momentum-left a {
        width: 100%;
        display: block;
        text-align: center;
    }

    .momentum-right video {
        width: 90%;
    }

    .stylists {
        flex-direction: column;
    }

    .stylist {
        margin: 20px 0;
    }

    .coupon {
        margin: 0;
        padding: 50px;
        background-size: cover;
        line-height: 3rem;
        background-position: 30% 40%;
    }

    .coupon h4 {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
    }

    .coupon h2 {
        margin: 0;
        padding: 0;
        font-size: 2rem;
        width: 100%;
        margin-bottom: 1rem;
    }

    .coupon span {
        font-size: 3rem;
    }

    .look-header h2 {
        font-size: 4em;
        line-height: 4rem;
    }

    .look-container {
        flex-direction: column;
    }

    .look-col {
        width: 100%;
    }
}

/* Tablets */

@media (min-width: 768px) and (max-width: 1250px) {
    nav ul li,
    nav ul li img,
    .bookOnline {
        display: none;
    }

    .hero > section > h1 {
        font-size: 6rem;
    }

    .coupon span {
        font-size: 3rem;
    }

    .look-header h2 {
        font-size: 4em;
        line-height: 4rem;
    }

    .look-container {
        flex-direction: column;
    }

    .look-col {
        width: 100%;
    }

    .momentum-left {
        padding: 5%;
    }

    .stylists {
        flex-direction: column;
    }

    .stylist {
        margin: 2%;
    }

    .coupon {
        background-size: cover;
    }

    .coupon > h2 > span {
        font-size: 5rem;
    }
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
